// CSS image replacement
@mixin text-hide($ignore-warning: false) {
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;

  @if ($ignore-warning != true) {
    @warn "The `text-hide()` mixin has been deprecated as of v4.1.0. It will be removed entirely in v5.";
  }
}

// Hides the text in an element, commonly used to show an image. Some elements will need block-level styles applied.

// @link http://zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement

// @example scss - Usage
//   .element {
//     @include hide-text;
//   }

// @example css - CSS Output
//   .element {
//     overflow: hidden;
//     text-indent: 101%;
//     white-space: nowrap;
//   }

@mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}