html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

body {
  @include font-smoothing(on);
  height: 100%;
  color: $body-color;
  min-width: $base-min-width;
  font: #{$font-size-base}/#{$line-height-base} $font-family-base;
}

// adaptive images
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

// google map fix
.gm-style img {
  max-width: none;
}

ul, ol, dl {
  margin: 0 0 1rem;
}