// =======================================
// Grid containers
// =======================================

// Define the maximum width of `.container` for different screen sizes.

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$container-max-width:   1140px !default;
$grid-gutter-width:     30px !default;