// =======================================
// Transitions
// =======================================

$animation-speed:               .27s;
$animation-timing-function:     ease-in-out;
$trans:                         all $animation-speed $animation-timing-function;