html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background: #fff;
  overflow: hidden;
}

body {
  color: #444;
  font: 16px/1 BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: auto;
}

a {
  color: #666;
}