$icomoon-font-path: "/assets/fonts";
$icomoon-font-family: "betbox" !default;

$icon-next: "\e93d";
$icon-prev: "\e93e";
$icon-calculator: "\e93c";
$icon-long-arrow-right: "\e939";
$icon-filter1: "\e938";
$icon-star-1: "\e932";
$icon-checked-chevron: "\e931";
$icon-checked-2: "\e930";
$icon-ncaab: "\e92f";
$icon-user-settings: "\e92c";
$icon-question: "\e92b";
$icon-detector-close: "\e900";
$icon-detector-open: "\e901";
$icon-filter: "\e902";
$icon-share: "\e903";
$icon-nfl: "\e904";
$icon-nba: "\e905";
$icon-thumb-bordered: "\e906";
$icon-mlb: "\e907";
$icon-speech-bordered: "\e908";
$icon-root: "\e909";
$icon-root-full: "\e90a";
$icon-speech-bordered2: "\e90b";
$icon-clock-outline: "\e90c";
$icon-checked: "\e90d";
$icon-plus: "\e90e";
$icon-clock-outline2: "\e90f";
$icon-down-arrow: "\e910";
$icon-bookie-img: "\e911";
$icon-dice-img: "\e912";
$icon-easy-money-img: "\e913";
$icon-hot-bet-img: "\e914";
$icon-planet-land: "\e915";
$icon-lock: "\e916";
$icon-settings: "\e917";
$icon-feedback: "\e918";
$icon-contact: "\e919";
$icon-bet: "\e91a";
$icon-profile: "\e91b";
$icon-logout: "\e91c";
$icon-write: "\e91d";
$icon-eye-outline: "\e91e";
$icon-feed: "\e91f";
$icon-ncaaf: "\e920";
$icon-left-arrow: "\e921";
$icon-close: "\e922";
$icon-search: "\e923";
$icon-games: "\e924";
$icon-tips: "\e925";
$icon-promotions: "\e926";
$icon-lines: "\e927";
$icon-right-arrow: "\e928";
$icon-eye-close-outline: "\e929";
$icon-flame: "\e92a";
$icon-star: "\f005";
$icon-star-o: "\f006";
$icon-search-bar: "\e92d";
$icon-options: "\e92e";
$icon-facebook: "\e933";
$icon-link: "\e934";
$icon-reddit: "\e935";
$icon-twitter: "\e936";
$icon-whatsapp: "\e937";
$icon-comment: "\e93a";
$icon-like: "\e93b";